<div class="post-page">
    <div
        *ngIf="post; else loading"
        class="post-page__container">
        <div class="post-page__header">
            <h1>{{ post.title }}</h1>
            <button
                class="post-page__btn"
                routerLink="/"
            >
                Back to Home
            </button>
        </div>
        <div class="post-page__info">
            <span>Author: {{ post.author }}</span>
            <span>Date: {{ post.data | date:'medium' }}</span>
        </div>
        <div
            class="post-page__content">
            <quill-view-html [content]="post.text"></quill-view-html>
        </div>
    </div>
    <ng-template #loading></ng-template>
</div>
