<div class="post-page">
    <div class="post-page__container">
        <div class="post-page__header">
            <h1>Post Title</h1>
            <button
                class="post-page__btn"
                routerLink="/"
            >
                Back to Home
            </button>
        </div>
        <div class="post-page__info">
            <span>Author:</span>
            <span>Date</span>
        </div>
        <div class="post-page__content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, quasi.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, deleniti?</p>
        </div>
    </div>
</div>
