@import "./src/helpers/variables";

.nav {

    &__bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 40px;
        border-bottom: 1px solid $black;
    }

    &__title {

        a {
            font-size: 21px;
            font-weight: $font-bold;
            text-transform: uppercase;
            margin-left: 15px;
            color: $black;
            text-decoration: none;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}

.main-container {
    margin: 0 auto;
    max-width: 1000px;
    padding: 25px;
}
