@import "variables";

@mixin btn-generator($btn-color) {
    padding: 10px;
    color: $white;
    font-weight: $font-bold;
    background-color: $btn-color;
    border-radius: 12px;
    text-transform: uppercase;
    border: none;
    outline: none;

    &:hover {
        box-shadow: 0 0 10px $btn-color;
        cursor: pointer;
    }

    &:disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}
