<footer class="footer">
    <div class="footer__content">
        <div class="about">
            <div class="about__item">
                <h1>Angular Blog pet project </h1>
                <p>All rights reserved.</p>
            </div>
        </div>
        <div class="useful-links">
            <ul class="useful-links__links">
                <li>
                    <a
                        [routerLink]="['/admin', 'dashboard']"
                        class="useful-links__link"
                    >
                        Dashboard
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
