@import "./src/helpers/variables";
@import "./src/helpers/mixins";

.table {
    border-collapse: collapse;
    width: 100%;
    background-color: $white;
}

.form-control {
    padding: 5px;
}

.table-head {

    &__head {
        font-size: 16px;
        color: $white;
        padding: 10px;
        margin: 10px;
        background-color: #aaaaaa;
        text-align: left;
    }
}

.table-body {

    &__content {
        font-size: 14px;
        padding: 10px;
        text-align: left;
    }
}

.actions-head {
    text-align: center;
}

.actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.link {
    @include btn-generator(#a7c996);
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 50px;
}

.btn {
    @include btn-generator(#ff1a1a);
    text-transform: capitalize;
    margin-left: 5px;
    border-radius: 50px;
}
